@{
    ViewBag.Title = "CONTACT US";
    ViewBag.BodyClass = "ContactUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li>CONTACT US</li>
</ul>

<section>

    <h2>NAKATOMI</h2>

    <h3>CONTACT US</h3>

    <dl>
        <dt>Taiwan JNT Trading Co. Ltd</dt>
        <dd>
            Taipei Headquarter<br>
            Address: 6F-10, No.79, Sec. 1, Xintai 5th Rd., Xizhi Dist., New Taipei City 221, Taiwan (R.O.C.)<br>
            Tel: +886 2 2698-1201<br>
            Fax: +886 2 2698-1202
        </dd>
        <dd>
            Taichung Office<br>
            Address: No.851, Lusun Rd., Xizhou Township, Changhua County 524, Taiwan (R.O.C.)<br>
            Tel: +886 4<br>
            Fax: +886 4
        </dd>
        <dd>
            Tainan Office<br>
            Address: 5F., No.626, Sec. 3, Zhonghua E. Rd., East Dist., Tainan City 701, Taiwan (R.O.C.)<br>
            Tel: +886 6 214-2850<br>
            Fax: +886 6 214-7806
        </dd>
    </dl>

</section>