@{
    ViewBag.Title = "聯絡我們";
    ViewBag.BodyClass = "ContactUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li>聯絡我們</li>
</ul>

<section>

    <h2>NAKATOMI</h2>

    <h3>聯絡我們</h3>
    <p>如果您有任何的問題,都可以透過下列的聯繫管道找到我們</p>

    <dl>
        <dt>台灣杰恩醍貿易有限公司</dt>
        <dd>
            台北總部 :新北市汐止區新台五路一段79號6樓之10<br>
            TEL : (02) 2698-1201<br>
            FAX : (02) 2698-1202
        </dd>
        <dd>台中辦事處:彰化縣溪州鄉成功村綠筍路851號 </dd>
        <dd>
            台南辦事處:台南市東區中華東路三段626號5樓<br>
            TEL： (06) 214-2850<br>
            FAX： (06) 214-7806
        </dd>
    </dl>

</section>