@{
    ViewBag.Title = "会社概要";
    ViewBag.BodyClass = "AboutUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li>会社概要</li>
</ul>

<section>

    <h2>NAKATOMI</h2>

    <h3>会社概要</h3>
    <p>台湾JNT貿易株式会社は２０１５年１月１日に設立し、代理店として日本ナカトミ株式会社のスポットクーラーを海外輸出販売しており、その他日本の季節商<品を直輸入し台湾にて販売しております。</p>
    <p>台湾JNT貿易株式会社の本社は新北市汐止遠東工業園區にあり、台中の倉庫及び台南での営業拠点も設置しております。将来、台湾は運営中心として世界中へ販売展開します</p>
    <ol class="pic-list">
        <li><img src="~/Content/images/AboutUs/pic.png" alt="公司圖"></li>
        <li><img src="~/Content/images/AboutUs/pic2.png" alt="公司圖"></li>
        <li><img src="~/Content/images/AboutUs/pic3.png" alt="公司圖"></li>
    </ol>

</section>