@{
    ViewBag.Title = "About";
    ViewBag.BodyClass = "AboutUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li>About</li>
</ul>

<section>

    <h2>NAKATOMI</h2>

    <h3>About</h3>
    <p>Established in 2015, Taiwan JNT Trading Co. Ltd is the branch office of NAKATOMI Co. Ltd. We are involved in Portable Air Conditioner industry for both domestic and global markets. We also import agricultural products and a variety of merchandises from Japan to sell in Taiwan.</p>
    <p>The headquarter of Taiwan JNT Trading is located in the Far East World Center in New Taipei City with 2 branches in central and south Taiwan and a warehouse in Taichung.
Our vision is to introduce our excellent products and services to the whole world. </p>
    <ol class="pic-list">
        <li><img src="~/Content/images/AboutUs/pic.png" alt="公司圖"></li>
        <li><img src="~/Content/images/AboutUs/pic2.png" alt="公司圖"></li>
        <li><img src="~/Content/images/AboutUs/pic3.png" alt="公司圖"></li>
    </ol>

</section>