@{
    ViewBag.Title = "PRODUCTS MAP";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li>PRODUCTS</li>
</ul>

<section>

    <h3>PRODUCTS</h3>

    <figure>
        <img src="~/Content/images/Products/SAC-6500.jpg" alt="產品圖">
        <figcaption>
            <h4>Portable Air Conditioner with Air Duct SAC-6500</h4>
            <a href="~/Products/Products_SAC6500">點選看詳細介紹</a>
        </figcaption>
    </figure>

    <figure>
        <img src="~/Content/images/Products/SAC-4500.jpg" alt="產品圖">
        <figcaption>
            <h4>Three phase swing mobile air conditioner with dual-ducts SAC-4500</h4>
            <a href="~/Products/Products_SAC4500">點選看詳細介紹</a>
        </figcaption>
    </figure>

    <figure>
        <img src="~/Content/images/Products/SAC-1800.jpg" alt="產品圖">
        <figcaption>
            <h4>Mini air conditioner with single duct SAC-1800</h4>
            <a href="~/Products/Products_SAC1800">點選看詳細介紹</a>
        </figcaption>
    </figure>

    <figure>
        <img src="~/Content/images/Products/N407-TC.jpg" alt="產品圖">
        <figcaption>
            <h4>Rotary Single Duct Air Conditioner with Heat Vaporization Duct N407-TC</h4>
            <a href="~/Products/Products_N407TC">點選看詳細介紹</a>
        </figcaption>
    </figure>

    <figure>
        <img src="~/Content/images/Products/BCF-30L.jpg" alt="產品圖">
        <figcaption>
            <h4>Water-cooling Fan BCF-30L</h4>
            <a href="~/Products/Products_SAC65005">點選看詳細介紹</a>
        </figcaption>
    </figure>

    <!-- <h3>Japanese agricultural products</h3>

    <h3>Daily necessities</h3> -->

</section>