@{
    ViewBag.Title = "產品資訊網站地圖";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li>PRODUCTS</li>
</ul>

<section>

    <h3>冷房機器</h3>

    <figure>
        <img src="~/Content/images/Products/SAC-6500.jpg" alt="產品圖">
        <figcaption>
            <h4>帶排熱導風管冷氣機<br>(三相200V) SAC-6500</h4>
            <a href="~/Products/Products_SAC6500">點選看詳細介紹</a>
        </figcaption>
    </figure>

    <figure>
        <img src="~/Content/images/Products/SAC-4500.jpg" alt="產品圖">
        <figcaption>
            <h4>三相擺頭雙導風管冷氣機 SAC-4500</h4>
            <a href="~/Products/Products_SAC4500">點選看詳細介紹</a>
        </figcaption>
    </figure>

    <figure>
        <img src="~/Content/images/Products/SAC-1800.jpg" alt="產品圖">
        <figcaption>
            <h4>迷你單管冷氣機 SAC-1800</h4>
            <a href="~/Products/Products_SAC1800">點選看詳細介紹</a>
        </figcaption>
    </figure>

    <figure>
        <img src="~/Content/images/Products/N407-TC.jpg" alt="產品圖">
        <figcaption>
            <h4>含排熱管 可旋轉式單管冷氣機 N405TC</h4>
            <a href="~/Products/Products_N407TC">點選看詳細介紹</a>
        </figcaption>
    </figure>

    <figure>
        <img src="~/Content/images/Products/BCF-30L.jpg" alt="產品圖">
        <figcaption>
            <h4>冷風扇 BCF-30L</h4>
            <a href="~/Products/Products_SAC65005">點選看詳細介紹</a>
        </figcaption>
    </figure>

    <!-- <h3>日本農產</h3>
    <h3>生活用品</h3> -->

</section>