@{
    ViewBag.Title = "產品資訊:自動擺頭單管移動式工業空調";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li><a href="~/Products">PRODUCTS</a></li>
    <li>自動擺頭單管移動式工業空調</li>
</ul>

<section>

    <h3>型號 N407-TC(TW) <span>單相110-115V</span></h3>

    <img class="float-l pro-pic" src="~/Content/images/Products/N407-TC_b.png" alt="產品圖">

    <div class="float-l pro-info">
        <ul class="text-list">
            <li>可調式兩段風量(強/弱)</li>
            <li>設置擺頭開關。啟動擺頭開關導風管會75度自動擺動</li>
        </ul>

        <div class="tips">
            <div class="tag float-l">冷媒:R410 / 除濕 / 附載溫度保護器 / 使用環境溫度範圍:64~113℉(18~45℃) / 移動便利 / 無須專人安裝</div>
            <dl class="air small float-l">
                <dt>冷氣能力</dt>
                <dd>2.5kW</dd>
            </dl>
            <dl class="water small float-l">
                <dt>可經由排水管直接排水</dt>
            </dl>
        </div><!-- tips //-->

        <table class="float-l leng">
            <tr>
                <th>型號</th>
                <td>N407-TC(TW)</td>
            </tr>
            <tr>
                <th>電源</th>
                <td>AC110-115V</td>
            </tr>
            <tr>
                <th>頻率</th>
                <td>60Hz</td>
            </tr>
            <tr>
                <th>冷氣能力</th>
                <td>2.5kW</td>
            </tr>
            <tr>
                <th>運轉電流</th>
                <td>強:10.1A / 弱:9.8A</td>
            </tr>
            <tr>
                <th>冷媒</th>
                <td>R410A</td>
            </tr>
            <tr>
                <th>水箱容量</th>
                <td>5L</td>
            </tr>
            <tr>
                <th>實體尺寸</th>
                <td>W400 x D430 x H820 mm</td>
            </tr>
            <tr>
                <th>重量</th>
                <td>40kg</td>
            </tr>
            <!-- <tr>
                <th>外箱尺寸</th>
                <td>W465 x D520 x H1000 mm</td>
            </tr> -->
        </table>

        <img src="~/Content/images/Products/N407-TC_line.gif" alt="線稿" class="float-l">

    </div><!-- 產品規格 //-->

</section>