@{
    ViewBag.Title = "產品資訊:自動擺頭雙管移動式工業空調";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li><a href="~/Products">PRODUCTS</a></li>
    <li>自動擺頭雙管移動式工業空調</li>
</ul>

<section>

    <h3>型號 SAC-4500(TW) <span>單相208-230V</span></h3>

    <img class="float-l pro-pic" src="~/Content/images/Products/SAC-4500_b.png" alt="產品圖">

    <div class="float-l pro-info">
        <ul class="text-list">
            <li>可調式兩段風量(強/弱)</li>
            <li>設置擺頭開關。啟動擺頭開關導風管會95度自動擺動</li>
        </ul>

        <div class="tips">
            <div class="tag float-l">冷媒:R410 / 除濕 / 附載溫度保護器 / 使用環境溫度範圍:64~113℉(18~45℃) / 移動便利 / 無須專人安裝</div>
            <dl class="air big float-r">
                <dt>冷氣能力</dt>
                <dd>4.5kW</dd>
            </dl>
        </div><!-- tips //-->

        <table class="float-l leng">
            <tr>
                <th>電源</th>
                <td>AC208-230V</td>
            </tr>
            <tr>
                <th>頻率</th>
                <td>60Hz</td>
            </tr>
            <tr>
                <th>冷氣能力</th>
                <td>4.5kW</td>
            </tr>
            <tr>
                <th>運轉電流</th>
                <td>強:6.75A / 弱:6.4A</td>
            </tr>
            <tr>
                <th>冷媒</th>
                <td>R410A</td>
            </tr>
            <tr>
                <th>水箱容量</th>
                <td>9L</td>
            </tr>
            <tr>
                <th>實體尺寸</th>
                <td>W520 x D470 x H1100 mm</td>
            </tr>
            <tr>
                <th>重量</th>
                <td>73kg</td>
            </tr>
            <!-- <tr>
                <th>外箱尺寸</th>
                <td>W570 x D520 x H1145 mm</td>
            </tr> -->
        </table>

        <img src="~/Content/images/Products/SAC-4500_line.gif" alt="線稿" class="float-l">

    </div><!-- 產品規格 //-->

</section>