@{
    ViewBag.Title = "產品資訊:日本農產";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li><a href="~/Products">PRODUCTS</a></li>
    <li>日本農產</li>
</ul>

<section>

    <h3>日本農產</h3>

    <p>產品即將上架，敬請期待</p>

</section>