@{
    ViewBag.Title = "產品資訊:冷風扇 クールブロアー";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li><a href="~/Products">PRODUCTS</a></li>
    <li>冷風扇 クールブロアー</li>
</ul>

<section>

    <h3>冷風扇 クールブロアー</h3>

    <div class="col-2 pro-pic">
        <img src="~/Content/images/Products/BCF-30L_b.png" alt="產品圖">
        <p>商品写真/イメージ</p>
        <a href="#" class="btn">取扱説明書</a>
    </div><!-- 產品圖 //-->

    <div class="col-2 pro-intro">
        <table>
            <tr>
                <th>改定番号</th>
                <td>0</td>
            </tr>
            <tr>
                <th>登録日</th>
                <td>2014/1/9</td>
            </tr>
            <tr>
                <th>商品コード</th>
                <td>0 0 3 6 1 8</td>
            </tr>
        </table>

        <table>
            <caption>商品名: 冷風扇 クールブロアー</caption>
            <tr>
                <th>型式</th>
                <td>BCF-30L</td>
            </tr>
            <tr>
                <th>JANコード</th>
                <td>4 5 1 1 3 4 0 0 3 6 1 8 6</td>
            </tr>
            <tr>
                <th>ブランド</th>
                <td>NAKATOMI</td>
            </tr>
            <tr>
                <th>生産国</th>
                <td>中国國</td>
            </tr>
            <tr>
                <th>本体寸法</th>
                <td>32.5×46×103cm (幅×奥行×高)</td>
            </tr>
            <tr>
                <th>質量(kg)</th>
                <td>14</td>
            </tr>
            <!-- <tr>
                <th>主機顏色</th>
                <td>白</td>
            </tr>
            <tr>
                <th>材質</th>
                <td></td>
            </tr>
            <tr>
                <th>価格</th>
                <td></td>
            </tr> -->
        </table>

        <!-- <table>
            <tr>
                <th>梱包形式</th>
                <td colspan="4">紙箱 單色印刷(咖啡色)</td>
            </tr>
            <tr>
                <th>入数</th>
                <th>幅(cm)</th>
                <th>奥行(cm)</th>
                <th>高(cm)</th>
                <th>質量(kg)</th>
            </tr>
            <tr class="align-c">
                <td>1</td>
                <td>42</td>
                <td>55</td>
                <td>10</td>
                <td>17.0</td>
            </tr>
        </table> -->

        <table>
            <tr class="caption">
                <th>取扱説明書</th>
                <th>保証書</th>
                <th>保証期間</th>
                <th>PL保険</th>
            </tr>
            <tr class="align-c">
                <td>あり</td>
                <td>あり</td>
                <td>1年間</td>
                <td>加入</td>
            </tr>
        </table>


    </div><!-- 產品型號 //-->

    <div class="col-2 pro-info">
        <table class="fixed">
            <tr class="caption"><th>セールスポイン</th></tr>
            <tr><td>冷房の苦手な方や冷え性な方、暑さ慣れ対策に特におすすめな冷風扇</td></tr>
            <tr><td>場所をとらないスリムボディ</td></tr>
            <tr><td>消し忘れや使用環境にあわせて設定できる便利なタイマー付き</td></tr>
            <tr><td>タンクは大容量30L　水道水から直接給水可能</td></tr>
            <tr><td>移動に便利なキャスター付き</td></tr>
        </table>

        <table>
            <caption>仕様説明</caption>
           <tr>
                <th>電源</th>
                <td>単相100V　50 / 60Hz</td>
            </tr>
            <tr>
                <th>電流</th>
                <td>1.7A</td>
            </tr>
            <tr>
                <th>消費電力</th>
                <td>170W</td>
            </tr>
            <tr>
                <th>風量</th>
                <td>12.4m<sup>3</sup> / min</td>
            </tr>
            <tr>
                <th>連続使用時間</th>
                <td>約13時間(ターボ運転時)</td>
            </tr>
            <tr>
                <th>電源コード</th>
                <td>約2.0m</td>
            </tr>
        </table>

    </div><!-- 產品仕様説明 //-->

</section>