@{
    ViewBag.Title = "PRODUCTS";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li><a href="~/Products">PRODUCTS</a></li>
    <li>WATER-COOLING FAN</li>
</ul>

<section>

    <h3>Water-cooling Fan</h3>

    <div class="col-3 pro-pic">
        <img src="~/Content/images/Products/BCF-30L_b.png" alt="產品圖">
        <p>Product Photo</p>
        <a href="#" class="btn">User Manual</a>
    </div><!-- 產品圖 //-->

    <div class="col-3 pro-intro">
        <table>
            <tr>
                <th>Version</th>
                <td>0</td>
            </tr>
            <tr>
                <th>Registry date</th>
                <td>2014/1/19</td>
            </tr>
            <tr>
                <th>Product number</th>
                <td>0 0 3 6 1 8</td>
            </tr>
        </table>

        <table>
            <caption>Product name:<br>Portable Air Conditioner With Air Duct</caption>
            <tr>
                <th>Model</th>
                <td>BCF-30L</td>
            </tr>
            <tr>
                <th>JAN Serial Number</th>
                <td>4511340036186</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>NAKATOMI</td>
            </tr>
            <tr>
                <th>Made in</th>
                <td>China</td>
            </tr>
            <tr>
                <th>Physical Specification</th>
                <td>32.5×46×103cm (width x Depth x Height）</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>14 KG</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>Whith</td>
            </tr>
        </table>

        <table>
            <caption>Packing</caption>
            <tr>
                <th>Type</th>
                <td colspan="4">Carton Monochrome printing(brown)</td>
            </tr>
            <tr>
                <th>Volume</th>
                <th>Width</th>
                <th>Depth</th>
                <th>Height</th>
                <th>Weight</th>
            </tr>
            <tr class="align-c">
                <td>1</td>
                <td>42cm</td>
                <td>55cm</td>
                <td>110cm</td>
                <td>17.0kg</td>
            </tr>
        </table>

        <table>
            <tr class="caption">
                <th>User Manual</th>
                <th>Warranty</th>
                <th>Warranty period</th>
                <th>Product liability insurance</th>
            </tr>
            <tr class="align-c">
                <td>Yes</td>
                <td>Yes</td>
                <td>1 Year</td>
                <td>Yes</td>
            </tr>
        </table>

    </div><!-- 產品型號 //-->

    <div class="col-3 pro-info">
        <table>
            <tr class="caption">
                <th>Key features</th>
                <th>Accessories</th>
            </tr>
            <tr>
                <th class="align-l">Connectability with faucet(auto-stop when water full)</th>
                <td>Machine connector</td>
            </tr>
            <tr>
                <th class="align-l">Pump automatically stops when low water</th>
                <td>Faucet connector</td>
            </tr>
            <tr>
                <th class="align-l">Easy to use. No heat emission</th>
                <td>Faucet ferrule x 2</td>
            </tr>
            <tr>
                <th class="align-l">Mobile with wheels</th>
                <td></td>
            </tr>
            <tr>
                <th class="align-l">Cooling with heat vaporization. </th>
                <td></td>
            </tr>
            <tr>
                <th class="align-l">More durable than traditional air conditioner</th>
                <td></td>
            </tr>
            <tr>
                <th class="align-l">Air outlet: Automatic horizontal flabellum</th>
                <td></td>
            </tr>
            <tr>
                <th class="align-l">Manual upright flabellum(Upper/lower divided)</th>
                <td></td>
            </tr>
            <tr>
                <th class="align-l">4 speeds of air volumn</th>
                <td></td>
            </tr>
            <tr>
                <th class="align-l">Auto-off with timer(from 30 minutes up to 7.5 hours)</th>
                <td></td>
            </tr>
        </table>

        <table>
            <caption>Specifications</caption>
            <caption>Machine</caption>
            <tr>
                <th>Power Source</th>
                <td>110V 60Hz</td>
            </tr>
            <tr>
                <th>Operating Current(A)</th>
                <td></td>
            </tr>
            <tr>
                <th>Power Consumption(W)</th>
                <td>170W</td>
            </tr>
            <tr>
                <th>Air flow(m<sup>3</sup> / min)cool</th>
                <td>12.4m<sup>3</sup>/min (Turbo mode)</td>
            </tr>
            <tr>
                <th>Air volumn</th>
                <td>4 speeds (low/medium/high/turbo)</td>
            </tr>
            <tr>
                <th>Continuous Operating Time</th>
                <td>13 hours</td>
            </tr>
            <tr>
                <th>Water Tank</th>
                <td>30L</td>
            </tr>
            <tr>
                <th>Water evaporation</th>
                <td>2.3/H(operating)</td>
            </tr>
            <tr>
                <th>Water supply</th>
                <td>Water tank or faucet</td>
            </tr>
            <tr>
                <th>Safty system</th>
                <td>Automatically stops when water full</td>
            </tr>
        </table>

    </div><!-- 產品規格 //-->

</section>