@{
    ViewBag.Title = "產品資訊:移動式工業空調";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li><a href="~/Products">PRODUCTS</a></li>
    <li>移動式工業空調</li>
</ul>

<section>

    <h3>移動式工業空調</h3>

    <figure>
        <img src="~/Content/images/Products/SAC-6500.jpg" alt="產品圖">
        <figcaption>
            <h4>三管移動式工業空調<br>SAC-6500(TW)</h4>
            <a href="~/Products/Products_SAC6500">點選看詳細介紹</a>
        </figcaption>
    </figure>

    <figure>
        <img src="~/Content/images/Products/SAC-4500.jpg" alt="產品圖">
        <figcaption>
            <h4>自動擺頭雙管移動式工業空調<br>SAC-4500(TW)</h4>
            <a href="~/Products/Products_SAC4500">點選看詳細介紹</a>
        </figcaption>
    </figure>

    <figure>
        <img src="~/Content/images/Products/SAC-1800.jpg" alt="產品圖">
        <figcaption>
            <h4>袖珍型單管移動式工業空調<br>SAC-1800(TW)</h4>
            <a href="~/Products/Products_SAC1800">點選看詳細介紹</a>
        </figcaption>
    </figure>

    <figure>
        <img src="~/Content/images/Products/N407-TC.jpg" alt="產品圖">
        <figcaption>
            <h4>自動擺頭單管移動式工業空調<br>N407-TC(TW)</h4>
            <a href="~/Products/Products_N407TC">點選看詳細介紹</a>
        </figcaption>
    </figure>

    <figure>
        <img src="~/Content/images/Products/N407-TC.jpg" alt="產品圖">
        <figcaption>
            <h4>自動擺頭單管移動式工業空調<br>N410-TC(TW)</h4>
            <a href="~/Products/Products_N410TC">點選看詳細介紹</a>
        </figcaption>
    </figure>

</section>