@{
    ViewBag.Title = "產品資訊:生活用品";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li><a href="~/Products">PRODUCTS</a></li>
    <li>生活用品</li>
</ul>

<section>

    <h3>生活用品</h3>

    <p>產品即將上架，敬請期待</p>

</section>