@{
    ViewBag.Title = "PRODUCTS:Three phase swing mobile air conditioner with dual-ducts";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li><a href="~/Products">PRODUCTS</a></li>
    <li>Three phase swing mobile air conditioner with dual-ducts</li>
</ul>

<section>

    <h3>Three phase swing mobile air conditioner with dual-ducts</h3>

    <div class="col-3 pro-pic">
        <img src="~/Content/images/Products/SAC-4500_b.png" alt="產品圖">
        <p>Product Photo</p>
        <a href="#" class="btn">User Manual</a>
    </div><!-- 產品圖 //-->

    <div class="col-3 pro-intro">
        <table>
            <tr>
                <th>Version</th>
                <td>2</td>
            </tr>
            <tr>
                <th>Registry date</th>
                <td>2015/1/1</td>
            </tr>
            <tr>
                <th>Product number</th>
                <td>0 0 3 5 4 7</td>
            </tr>
        </table>

        <table>
            <caption>Product name:<br>Three phase swing mobile air conditioner with dual-ducts</caption>
            <tr>
                <th>Model</th>
                <td>SAC-4500</td>
            </tr>
            <tr>
                <th>JAN Serial Number</th>
                <td>4511340035479</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>NAKATOMI</td>
            </tr>
            <tr>
                <th>Made in</th>
                <td>China</td>
            </tr>
            <tr>
                <th>Physical Specification</th>
                <td>52×47×110cm (width x Depth x Height）</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>73 KG</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>Ivory & Sky blue</td>
            </tr>
            <tr>
                <th>Material</th>
                <td></td>
            </tr>
            <tr>
                <th>Price</th>
                <td></td>
            </tr>
        </table>

        <table class="fixed">
            <caption>(※exclude ducts)</caption>
            <tr>
                <th>Type</th>
                <td colspan="4">Packing(outside): Carton(Water tank, ducts)</td>
            </tr>
            <tr>
                <th>Volume</th>
                <th>Width</th>
                <th>Depth</th>
                <th>Height</th>
                <th>Weight</th>
            </tr>
            <tr class="align-c">
                <td>1</td>
                <td>50cm</td>
                <td>47cm</td>
                <td>22.5cm</td>
                <td>80kg</td>
            </tr>
        </table>
        <table class="fixed">
            <tr>
                <th>Type</th>
                <td colspan="4">Packing(inside): Carton(Machine)</td>
            </tr>
            <tr>
                <th>Volume</th>
                <th>Width</th>
                <th>Depth</th>
                <th>Height</th>
                <th>Weight</th>
            </tr>
            <tr class="align-c">
                <td>1cm</td>
                <td>57cm</td>
                <td>42cm</td>
                <td>114.5cm</td>
                <td>80kg</td>
            </tr>
        </table>

        <table>
            <tr class="caption">
                <th>User Manual</th>
                <th>Warranty</th>
                <th>Warranty period</th>
                <th>Product liability insurance</th>
            </tr>
            <tr class="align-c">
                <td>Yes</td>
                <td>Yes</td>
                <td>1 Year</td>
                <td>Yes</td>
            </tr>
        </table>

    </div><!-- 產品型號 //-->

    <div class="col-3 pro-info">
        <table>
            <tr class="caption">
                <th>Key features</th>
                <th>Accessories</th>
            </tr>
            <tr>
                <th class="align-l">2 cold air output wing ducts for multiple people use</th>
                <td>Cold air duct x 2　φ120　450mm～550mm</td>
            </tr>
            <tr>
                <th class="align-l">High efficiency by low draining frequency</th>
                <td>Heat emission duct x 1  φ210　350mm～450mm</td>
            </tr>
            <tr>
                <th class="align-l">Environmentally friendly coolant (R407C)</th>
                <td></td>
            </tr>
        </table>

        <table>
            <caption>Specifications</caption>
            <tr>
                <th>Power Source</th>
                <td>3-phase 220V　60Hz</td>
            </tr>
            <tr>
                <th>Operating current(A)</th>
                <td>6A / 7A</td>
            </tr>
            <tr>
                <th>Power Consumption(W)</th>
                <td>1740W / 2240W</td>
            </tr>
            <tr>
                <th>Cooling capacity(KW)</th>
                <td>4.5KW</td>
            </tr>
            <tr>
                <th>Compressor</th>
                <td>Hermetic rotary compressor</td>
            </tr>
            <tr>
                <th>Water tank</th>
                <td>9L</td>
            </tr>
            <tr>
                <th>Compressor safty device</th>
                <td>Thermal relay</td>
            </tr>
            <tr>
                <th>Coolant</th>
                <td>HFC R407</td>
            </tr>
            <tr>
                <th>Coolant input volume</th>
                <td>600g</td>
            </tr>
            <tr>
                <th>Operating temperature</th>
                <td>25℃ ~ 45℃</td>
            </tr>
            <tr>
                <th colspan="2">※Data based on the environment of temperature 35℃ and humidity 60%</th>
            </tr>
            <tr>
                <th colspan="2">Do Not DIY</th>
            </tr>
        </table>

    </div><!-- 產品規格 //-->

</section>