@{
    ViewBag.Title = "PRODUCTS:Rotary single duct air conditioner with heat vaporization duct";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li><a href="~/Products">PRODUCTS</a></li>
    <li>Rotary single duct air conditioner with heat vaporization duct</li>
</ul>

<section>

    <h3>Rotary Single Duct Air Conditioner with Heat Vaporization Duct</h3>

    <div class="col-3 pro-pic">
        <img src="~/Content/images/Products/N407-TC_b.png" alt="產品圖">
        <p>Product Photo</p>
        <a href="#" class="btn">User Manual</a>
    </div><!-- 產品圖 //-->

    <div class="col-3 pro-intro">
        <table>
            <tr>
                <th>Version</th>
                <td>1</td>
            </tr>
            <tr>
                <th>Registry date</th>
                <td></td>
            </tr>
            <tr>
                <th>Product number</th>
                <td>0 0 3 5 4 0</td>
            </tr>
        </table>

        <table>
            <caption>Product name:<br>Rotary Single Duct Air Conditioner with Heat Vaporization Duct</caption>
            <tr>
                <th>Model</th>
                <td>N407-TC</td>
            </tr>
            <tr>
                <th>JAN Serial Number</th>
                <td>4511340035400</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>NAKATOMI</td>
            </tr>
            <tr>
                <th>Made in</th>
                <td>China</td>
            </tr>
            <tr>
                <th>Physical Specification</th>
                <td>40×43×82cm (width x Depth x Height）</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>40 KG</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>Ivory & Sky Blue</td>
            </tr>
            <tr>
                <th>Price</th>
                <td></td>
            </tr>
            <tr>
                <th>Remarks</th>
                <td>Exclude Ducts</td>
            </tr>
        </table>

        <table>
            <caption>Packing</caption>
            <tr>
                <th>Type</th>
                <td colspan="4">Carton (Outside) Styrofoam (Inside)</td>
            </tr>
            <tr>
                <th>Volume</th>
                <th>Width</th>
                <th>Depth</th>
                <th>Height</th>
                <th>Weight</th>
            </tr>
            <tr class="align-c">
                <td>1</td>
                <td>48cm</td>
                <td>53cm</td>
                <td>100cm</td>
                <td>45kg</td>
            </tr>
        </table>

        <table>
            <tr class="caption">
                <th>User Manual</th>
                <th>Warranty</th>
                <th>Warranty period</th>
                <th>PL insurance</th>
            </tr>
            <tr class="align-c">
                <td>Yes</td>
                <td>Yes</td>
                <td>1 Year</td>
                <td>Yes</td>
            </tr>
        </table>

    </div><!-- 產品型號 //-->

    <div class="col-3 pro-info">
        <table class="align-l">
            <caption>Key features</caption>
            <tr><td>Easy to use for both indoor and outdoor.<br>High mobility with wheels.</td></tr>
            <tr><td>Adjustable switch. Cold air duct is capable of 75 degrees of automatic rotation</td></tr>
            <tr><td>Fans for both sides of air input and output.<br>Heat emission duct can be set to upside or be connected to outdoors</td></tr>
            <tr><td>Mini water tank takes only 1/3 of the size compared to similar devices</td></tr>
            <tr><td>Drainpipe can also be connected to outside of the machine. Heat emission duct is standard accessory.</td></tr>
        </table>

        <table>
            <caption>Accessories</caption>
            <tr>
                <td>Drainpipe x 1</td>
                <td>Bendable connector for cold air x 1</td>
            </tr>
            <tr>
                <td>Heat emission duct x 1</td>
                <td>External diameter 180mm 350~450mm</td>
            </tr>
            <tr>
                <td>Cold air duct x 1</td>
                <td>External diameter 120mm  450~550mm</td>
            </tr>
        </table>
        <!-- <table>
            <tr class="caption">
                <th>Key features</th>
                <th>Accessories</th>
            </tr>
            <tr>
                <th class="align-l">Easy to use for both indoor and outdoor.<br>High mobility with wheels.</th>
                <td>．Drainpipe x 1<br>．Bendable connector for cold air x 1</td>
            </tr>
            <tr>
                <th class="align-l">Adjustable switch. Cold air duct is capable of 75 degrees of automatic rotation</th>
                <td>．Heat emission duct x 1 External diameter 180mm 350~450mm</td>
            </tr>
            <tr>
                <th class="align-l">Fans for both sides of air input and output.<br>Heat emission duct can be set to upside or be connected to outdoors</th>
                <td>．Cold air duct x 1 External diameter 120mm  450~550mm</td>
            </tr>
            <tr>
                <th class="align-l">Mini water tank takes only 1/3 of the size compared to similar devices</th>
                <td></td>
            </tr>
            <tr>
                <th class="align-l">Drainpipe can also be connected to outside of the machine. Heat emission duct is standard accessory.</th>
                <td></td>
            </tr>
        </table> -->

        <table>
            <caption>Specifications</caption>
            <!-- <caption>Machine</caption> -->
            <tr>
                <th>Power Source</th>
                <td>110V 60Hz</td>
            </tr>
            <tr>
                <th>Compressor</th>
                <td>Hermatic rotary compressor</td>
            </tr>
            <tr>
                <th>Operating Current</th>
                <td>High 10.3A 　Low 9.65A</td>
            </tr>
            <tr>
                <th>Power Consumption(W)</th>
                <td>High 1005W　Low 945W</td>
            </tr>
            <tr>
                <th>Cooling capacity</th>
                <td>High 2.5ｋW</td>
            </tr>
            <tr>
                <th>Power</th>
                <td>High 97% Low 98%</td>
            </tr>
            <tr>
                <th>Switch</th>
                <td>Power=Knob switch(Stop/Low/High) </td>
            </tr>
            <tr>
                <th>Coolant</th>
                <td>R407C</td>
            </tr>
            <tr>
                <th>Coolant Input Volume</th>
                <td>510g</td>
            </tr>
            <tr>
                <th>Knob switch for cooling air output duct</th>
                <td>ON/OFF</td>
            </tr>
            <tr>
                <th>Water tank</th>
                <td>5L</td>
            </tr>
        </table>

    </div><!-- 產品規格 //-->

</section>