@{
    ViewBag.Title = "PRODUCTS:Mini air conditioner with single duct";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li><a href="~/Products">PRODUCTS</a></li>
    <li>Mini air conditioner with single duct</li>
</ul>

<section>

    <h3>Mini air conditioner with single duct</h3>

    <div class="col-3 pro-pic">
        <img src="~/Content/images/Products/SAC-1800_b.png" alt="產品圖">
        <p>Product Photo</p>
        <a href="#" class="btn">User Manual</a>
    </div><!-- 產品圖 //-->

    <div class="col-3 pro-intro">
        <table>
            <tr>
                <th>Version</th>
                <td>3</td>
            </tr>
            <tr>
                <th>Registry date</th>
                <td>2015/1/1</td>
            </tr>
            <tr>
                <th>Product number</th>
                <td>0 0 3 5 4 6</td>
            </tr>
        </table>

        <table>
            <caption>Product name:<br>Mini air conditioner with single duct</caption>
            <tr>
                <th>Model</th>
                <td>SAC-1800</td>
            </tr>
            <tr>
                <th>JAN Serial Number</th>
                <td>4511340035462</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>NAKATOMI</td>
            </tr>
            <tr>
                <th>Made in</th>
                <td>China</td>
            </tr>
            <tr>
                <th>Physical Specification</th>
                <td>47.5×26.5×61cm (width x Depth x Height）</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>23 KG</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>Ivory & Sky blue</td>
            </tr>
            <tr>
                <th>Material</th>
                <td>Metal．ABS</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>OPEN</td>
            </tr>
        </table>

        <table class="fixed">
            <caption>(※exclude ducts)</caption>
            <tr>
                <th>Type</th>
                <td colspan="4">Packing(outside): Carton</td>
            </tr>
            <tr>
                <th>Volume</th>
                <th>Width</th>
                <th>Depth</th>
                <th>Height</th>
                <th>Weight</th>
            </tr>
            <tr class="align-c">
                <td>1</td>
                <td>53cm</td>
                <td>32cm</td>
                <td>71cm</td>
                <td>25kg</td>
            </tr>
        </table>

        <table>
            <tr class="caption">
                <th>User Manual</th>
                <th>Warranty</th>
                <th>Warranty period</th>
                <th>Product liability insurance</th>
            </tr>
            <tr class="align-c">
                <td>Yes</td>
                <td>Yes</td>
                <td>1 Year</td>
                <td>Yes</td>
            </tr>
        </table>

    </div><!-- 產品型號 //-->

    <div class="col-3 pro-info">
        <table class="align-l">
            <caption>Key features</caption>
            <tr><td>Environmentally friendly coolant (R407C)</td></tr>
            <tr><td>Cooling capacity 1.8ｋW(60Hz)</td></tr>
            <tr><td>Easy carry with grips</td></tr>
            <tr><td>Cold air duct 360° rotatable</td></tr>
            <tr><td>High mobility with wheels</td></tr>
            <tr><td>※For better performance, 2015 model revised the switch from High/Low/Off to On/Off compared to 2014 model.</td></tr>
            <tr><td>A heatexchanger is equipped for higher colling effect</td></tr>
        </table>
        <table>
            <tr class="caption">
                <th>Accessories</th>
                <th>Optional accessories</th>
            </tr>
            <tr>
                <td></td>
                <td>Filter【FL-35】</td>
            </tr>
        </table>

        <table>
            <caption>Specifications</caption>
            <tr>
                <th>Power Source</th>
                <td>Single phase 110V　60Hz</td>
            </tr>
            <tr>
                <th>Operating current(A)</th>
                <td>6A / 6.85A</td>
            </tr>
            <tr>
                <th>Power Consumption(W)</th>
                <td>600 / 675W</td>
            </tr>
            <tr>
                <th>Cooling capacity(KW)</th>
                <td>1.7 / 1.8KW</td>
            </tr>
            <tr>
                <th>Water tank</th>
                <td>3L</td>
            </tr>
            <tr>
                <th>Coolant</th>
                <td>HFC R407C (340g)</td>
            </tr>
            <tr>
                <th>Noise(dB)</th>
                <td>60 / 62dB</td>
            </tr>
            <tr>
                <th>Power cord</th>
                <td>1.8m</td>
            </tr>
            <tr>
                <th colspan="2">Regulatory requirements</th>
            </tr>
            <tr>
                <td colspan="2">【DENAN Law】</td>
            </tr>
            <tr>
                <td colspan="2">Electric Motor-operatied or Magnetically Driven Appliances-Air conditioner</td>
            </tr>
        </table>

    </div><!-- 產品規格 //-->

</section>