@{
    ViewBag.Title = "產品資訊:袖珍型單管移動式工業空調";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li><a href="~/Products">PRODUCTS</a></li>
    <li>袖珍型單管移動式工業空調</li>
</ul>

<section>

    <h3>型號 SAC-1800(TW) <span>單相110-115V</span></h3>

    <img class="float-l pro-pic" src="~/Content/images/Products/SAC-1800_b.png" alt="產品圖">

    <div class="float-l pro-info">

        <dl class="air">
            <dt>冷氣能力</dt>
            <dd>1.8kW</dd>
        </dl>
        <br>
        <div class="float-l mar-b">
            <div class="tag">冷媒:R410 / 除濕 / 附載溫度保護器 / 使用環境溫度範圍:64~113℉(18~45℃) / 移動便利 / 無須專人安裝</div>
            <br>
            <table class="leng">
                <tr>
                    <th>電源</th>
                    <td>AC110-115V</td>
                </tr>
                <tr>
                    <th>頻率</th>
                    <td>60Hz</td>
                </tr>
                <tr>
                    <th>冷氣能力</th>
                    <td>1.8kW</td>
                </tr>
                <tr>
                    <th>運轉電流</th>
                    <td>5.58A</td>
                </tr>
                <tr>
                    <th>冷媒</th>
                    <td>R410A</td>
                </tr>
                <tr>
                    <th>水箱容量</th>
                    <td>3L</td>
                </tr>
                <tr>
                    <th>實體尺寸</th>
                    <td>W475 x D265 x H610 mm</td>
                </tr>
                <tr>
                    <th>重量</th>
                    <td>23kg</td>
                </tr>
                <!-- <tr>
                    <th>外箱尺寸</th>
                    <td>W515 x D300 x H690 mm</td>
                </tr> -->
            </table>
        </div><!-- float-l //-->

        <img src="~/Content/images/Products/SAC-1800_line.gif" alt="線稿" class="float-l">

    </div><!-- 產品規格 //-->

</section>