@{
    ViewBag.Title = "PRODUCTS";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li><a href="~/Products">PRODUCTS</a></li>
    <li>Portable Air Conditioner with Air Duct</li>
</ul>

<section>

    <h3>Portable Air Conditioner with Air Duct</h3>

    <div class="col-3 pro-pic">
        <img src="~/Content/images/Products/SAC-6500_b.png" alt="產品圖">
        <p>Product Photo</p>
        <a href="#" class="btn">User Manual</a>
    </div><!-- 產品圖 //-->

    <div class="col-3 pro-intro">
        <table>
            <tr>
                <th>Version</th>
                <td>0</td>
            </tr>
            <tr>
                <th>Registry date</th>
                <td>2013/2/25</td>
            </tr>
            <tr>
                <th>Product number</th>
                <td>0 0 3 5 8 9</td>
            </tr>
        </table>

        <table>
            <caption>Product name:<br>Portable Air Conditioner with Air Duct</caption>
            <tr>
                <th>Model</th>
                <td>S A C - 6 5 0 0</td>
            </tr>
            <tr>
                <th>JAN Serial Number</th>
                <td>4 5 1 1 3 4 0 0 3 5 8 9 9</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>NAKATOMI</td>
            </tr>
            <tr>
                <th>Made in</th>
                <td>China</td>
            </tr>
            <tr>
                <th>Physical Specification</th>
                <td>56×62×127cm (width x Depth x Height）</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>99 KG</td>
            </tr>
            <tr>
                <th>Color</th>
                <td><span>Whith</span> <span class="check">Material</span></td>
            </tr>
            <tr>
                <th colspan="2">(exclude ducts)</th>
            </tr>
        </table>

        <table>
            <caption>Packing</caption>
            <tr>
                <th>Type</th>
                <td colspan="4">Wood Case</td>
            </tr>
            <tr>
                <th>Volume</th>
                <th>Width</th>
                <th>Depth</th>
                <th>Height</th>
                <th>Weight</th>
            </tr>
            <tr class="align-c">
                <td>1</td>
                <td>70cm</td>
                <td>64cm</td>
                <td>157cm</td>
                <td>130.0kg</td>
            </tr>
        </table>

        <table>
            <tr class="caption">
                <th>User Manual</th>
                <th>Warranty</th>
                <th>Warranty period</th>
                <th>PL insurance</th>
            </tr>
            <tr class="align-c">
                <td>Yes</td>
                <td>Yes</td>
                <td>1 Year</td>
                <td>Yes</td>
            </tr>
        </table>

    </div><!-- 產品型號 //-->

    <div class="col-3 pro-info">
        <table>
            <tr class="caption">
                <th>Key features</th>
                <th>Accessories</th>
            </tr>
            <tr>
                <th class="align-l">3 ducts for a wide range of cooling effect</th>
                <td>duct x 3</td>
            </tr>
            <tr>
                <th class="align-l">A large water tank to reduce draining frequency</th>
                <td></td>
            </tr>
            <tr>
                <th class="align-l">High mobility with wheels</th>
                <td></td>
            </tr>
        </table>

        <table>
            <caption>Specifications</caption>
            <caption>Machine</caption>
            <tr>
                <th>Power Source</th>
                <td>3-phase 200V 50/60Hz</td>
            </tr>
            <tr>
                <th>Operating Current(A)</th>
                <td>High 8.0　Low 7.7 / High 8.1　Low 7.8</td>
            </tr>
            <tr>
                <th>Power Consumption(W)</th>
                <td>High 2010　Low1950 / High 2480　Low 2400</td>
            </tr>
            <tr>
                <th>Cooling capacity(KW)</th>
                <td>6.5</td>
            </tr>
            <tr>
                <th>Air flow(m<sup>3</sup> / min)cool</th>
                <td>High 22.5　Low 20 / High 25　Low 21</td>
            </tr>
            <tr>
                <th>Heat removal</th>
                <td>53</td>
            </tr>
            <tr>
                <th>Coolant</th>
                <td>HFC R407C</td>
            </tr>
            <tr>
                <th>Coolant Input Volume</th>
                <td>1000g</td>
            </tr>
            <tr>
                <th>Water Tank</th>
                <td>25L</td>
            </tr>
            <tr>
                <th>Operating Temp</th>
                <td>18 ~ 43℃</td>
            </tr>
            <tr>
                <th>Noise(dB)</th>
                <td>68 / 75</td>
            </tr>
            <tr>
                <th colspan="2">Do Not DIY</th>
            </tr>
        </table>

    </div><!-- 產品規格 //-->

</section>