@{
    ViewBag.Title = "租賃專區";
    ViewBag.BodyClass = "Info";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="~/index">HOME</a></li>
    <li>租賃專區</li>
</ul>

<section>
    <h3>型號 SAC-407ND(TW) <span>單相110-115V</span></h3>
    <img class="float-l pro-pic" src="~/Content/images/Products/SAC-407ND_b.png" alt="產品圖">
    <div class="float-l pro-info">
        <ul class="text-list">
            <li>租金：NTD 1,000 元 / 日</li>
            <li>押金：NTD 10,000 元</li>
        </ul>
        <dl class="data-list col2">
            <dt>優惠折扣：</dt>
            <dd>一周以上(含一周)租金以 9.5 折計</dd>
            <dd>一個月以上(含一個月)租金以 8.5 折計</dd>
            <dd>二個月以上(含二個月)租金以 5 折計</dd>
        </dl>
        <dl class="data-list col2">
            <dt>租賃規定：</dt>
            <dd>取件時間：每日下午 15:00~17:00</dd>
            <dd>歸還時間：次次日早上 10:00 前</dd>
            <dd>逾時收費：每小時 NTD$100 元</dd>
        </dl>
        <table>
            <tr>
                <th>電源</th>
                <td>AC110-115V</td>
            </tr>
            <tr>
                <th>頻率</th>
                <td>60Hz</td>
            </tr>
            <tr>
                <th>冷氣能力</th>
                <td>2.5kW</td>
            </tr>
            <tr>
                <th>運轉電流</th>
                <td>強:9.7A / 弱:9.4A</td>
            </tr>
            <tr>
                <th>冷媒</th>
                <td>R410A</td>
            </tr>
            <tr>
                <th>水箱容量</th>
                <td>20L</td>
            </tr>
            <tr>
                <th>實體尺寸</th>
                <td>W400 x D470 x H885 mm</td>
            </tr>
            <tr>
                <th>重量</th>
                <td>43kg</td>
            </tr>
        </table>
    </div><!-- 產品規格 //-->

    <h3>型號 SAC-4500(TW) <span>單相208-230V</span></h3>
    <img class="float-l pro-pic" src="~/Content/images/Products/SAC-4500_b.png" alt="產品圖">
    <div class="float-l pro-info">
        <ul class="text-list">
            <li>租金：NTD 1,800 元 / 日</li>
            <li>押金：NTD 30,000 元</li>
        </ul>
        <dl class="data-list col2">
            <dt>優惠折扣：</dt>
            <dd>一周以上(含一周)租金以 9.5 折計</dd>
            <dd>一個月以上(含一個月)租金以 8.5 折計</dd>
            <dd>二個月以上(含二個月)租金以 5 折計</dd>
        </dl>
        <dl class="data-list col2">
            <dt>租賃規定：</dt>
            <dd>取件時間：每日下午 15:00~17:00</dd>
            <dd>歸還時間：次次日早上 10:00 前</dd>
            <dd>逾時收費：每小時 NTD$300 元</dd>
        </dl>
        <table>
            <tr>
                <th>電源</th>
                <td>AC208-230V</td>
            </tr>
            <tr>
                <th>頻率</th>
                <td>60Hz</td>
            </tr>
            <tr>
                <th>冷氣能力</th>
                <td>4.5kW</td>
            </tr>
            <tr>
                <th>運轉電流</th>
                <td>強:6.75A / 弱:6.4A</td>
            </tr>
            <tr>
                <th>冷媒</th>
                <td>R410A</td>
            </tr>
            <tr>
                <th>水箱容量</th>
                <td>9L</td>
            </tr>
            <tr>
                <th>實體尺寸</th>
                <td>W520 x D470 x H1100 mm</td>
            </tr>
            <tr>
                <th>重量</th>
                <td>73kg</td>
            </tr>
        </table>
    </div><!-- 產品規格 //-->

    <h3>型號 MAC-80 <span>單相200-250V</span></h3>
    <img class="float-l pro-pic" src="~/Content/images/Products/MAC-80_b.jpg" alt="產品圖">
    <div class="float-l pro-info">
        <ul class="text-list">
            <li>租金：NTD 5,000 元 / 日</li>
            <li>押金：NTD 50,000 元</li>
        </ul>
        <dl class="data-list col2">
            <dt>優惠折扣：</dt>
            <dd>一周以上(含一周)租金以 9.5 折計</dd>
            <dd>一個月以上(含一個月)租金以 8.5 折計</dd>
            <dd>二個月以上(含二個月)租金以 5 折計</dd>
        </dl>
        <dl class="data-list col2">
            <dt>租賃規定：</dt>
            <dd>取件時間：每日下午 15:00~17:00</dd>
            <dd>歸還時間：次次日早上 10:00 前</dd>
            <dd>逾時收費：每小時 NTD$500 元</dd>
        </dl>
        <table>
            <tr>
                <th>電源</th>
                <td>AC200-250V(單相)</td>
            </tr>
            <tr>
                <th>頻率</th>
                <td>60Hz</td>
            </tr>
            <tr>
                <th>冷氣能力</th>
                <td>7.1KW</td>
            </tr>
            <tr>
                <th>運轉電流</th>
                <td>30A</td>
            </tr>
            <tr>
                <th>冷媒</th>
                <td>R410A</td>
            </tr>
            <tr>
                <th>實體尺寸</th>
                <td>W1220 x D750 x H1940 mm</td>
            </tr>
            <tr>
                <th>重量</th>
                <td>160kg</td>
            </tr>
        </table>
    </div><!-- 產品規格 //-->

    <hr class="clear">

    <!-- <dl class="data-list col2">
        <dt>租賃規定：</dt>
        <dd>取件時間：每日下午 15:00~17:00</dd>
        <dd>歸還時間：次次日早上 10:00 前</dd>
        <dd>逾時收費：每小時 NTD$100 元</dd>
    </dl> -->
    <p class="msg">P.S：長期配合之廠商，得免除押金。</p>
    <p class="msg">注意事項：由客戶自行取件，如委託我方代為運送時，運送費用由客戶自行負擔。</p>

    <div class="align-c"><a class="btn btn-b" href="~/Content/download/Rent.pdf" target="_blank">觀看租賃契約內容</a></div>

    <ul class="align-c col2">
        <li>北區租賃服務專線<br>02-2698-1201</li>
        <li>中南部租賃服務專線<br>04-880-2962</li>
    </ul>

</section>